<ion-view>
  <ion-content ng-controller="WifiController">
 <div ng-hide="(wifiList).length" style="text-align: center;">
   <br><br>
   Detecting WiFi!
   <br><br>
   <ion-spinner class="spinner-assertive"></ion-spinner>
   <br><br>
 </div>
 <ion-list>
   <ion-item class="item-icon-right" ng-repeat="wifi in wifiList">
  <h2 ng-click="connectWifi(wifi)" class="ion-wifi">
    {{wifi}}
  </h2>
   </ion-item>
 </ion-list>
 <button class="col button button-balanced" ng-click="getList()">Refresh WiFi List</button>
</ion-content>
</ion-view>
